<!DOCTYPE html>
<html lang="en" ng-app="flickrApp">
<head>
  <meta charset="UTF-8">
  <title>Flickr Searcher</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="stylesheet" type="text/css" href="build/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="build/css/styles.css">
  <script type="text/javascript" src='build/js/app.js'></script>
</head>
<body>
  <div class="container" ng-controller="flickrCtrl">
    <section class="mainHdr">
      <h1>Flickr Searcher</h1>
      <form name="search" ng-submit="searchFlickr(tag)" class="search-form">
        <input type="text" class="search-input" ng-model="tag" name="tag" placeholder="Enter a tag to search for"/>
        <input type="submit" value="Search" class="btn"/> 
      </form>
      
      <!-- Messages and Errors -->
      <div ng-if="search.$submitted">
        <p ng-if="!valid" class="message">
          Please enter something to search!
        </p>
        <p ng-if="valid && !results && !error" class="message">
          Searching Flickr for {{word}}...
        </p>
        <p ng-if="valid && error" class="message">
          Error searching for {{word}}
        </p>
        <p ng-if="valid && results" class="message">
          There are {{results.total}} results for {{word}}
        </p>
      </div>
     
    </section>

    <!-- Search results will go here -->
    <section ng-if="results" class="results">
      <div class="image" ng-repeat="result in results.photo">
        <a href="" ng-click="displayImg = true" ng-init="displayImg= false"><img ng-src="https://farm{{result.farm}}.staticflickr.com/{{result.server}}/{{result.id}}_{{result.secret}}.jpg" /></a>
        
        <div class="modalImg" ng-show="displayImg" ng-click="displayImg = false">
          <img ng-class="{showModal : displayImg}" ng-src="https://farm{{result.farm}}.staticflickr.com/{{result.server}}/{{result.id}}_{{result.secret}}.jpg" />
        </div>
      </div>
    </section>
  </div>
</body>
</html>