html{
  box-sizing: border-box;
  min-height: 100%;
  border-left: 5em solid $blue;
  border-right: 5em solid $blue;
}

body{
	min-height: 100%;
	color: #333;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container{
	width: 900px;
	margin: 0 auto;
	padding: 0 1em;
	text-align: center;
}