.mainHdr{
	padding: 4em 0 2em 0;

	h1{
		font-size: 3em;
		color: $blue;
	}

	.search-form{
		padding: 2em;

		@media screen and (max-width: 425px){
			padding: 2em .5em;
		}
	}

	.search-input{
		padding: .75em;

		@media screen and (max-width: 425px){
			display: inline-block;
			width: 100%;
			margin: 0 auto 1em auto;
		}
	}

	.message{
		font-size: 1.15em;
		-webkit-transition: all .25s linear;
		transition: all .25s linear;
	
		&.ng-enter, &.ng-leave.ng-leave-active{
			margin-right: 300px;
			opacity: 0;
			-webkit-transition: none;
			transition: none;
		}

		&.ng-leave, &.ng-enter.ng-enter-active{
			opacity: 1;
			margin-right: 0;
		}
	}
}